.header {
    background: $light-blue;
    color: $white;
    padding-left: 1em;
    display: flex;
    flex-direction: row;
    text-align: center;
}

.header__items {
    display: flex;
    flex-direction: row;
    align-content: space-around;
    align-items: center;
    justify-content: space-around;
    flex: 1;
}

#search-input {
    border-radius: 1rem;
    padding-left: .5rem;
}