.card-title {
  color: black;
  font-weight: bold;
}

.identify-card {
  align-items: center;
  display: none;
  position: absolute;
  z-index: 1;
}

.identify-selector {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.identify-selector > h6 {
  color: black;
}
