.ag-body-viewport {
  overflow-x: hidden;
}

.card-title {
  color: black;
  font-weight: bold;
}

.identify-card {
  align-items: center;
  display: none;
  z-index: 1;
  height: auto;
}

.identify-grid {
  height: 250px;
  width: auto;
}

.identify-selector {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.identify-selector > h6 {
  color: black;
}
