.location {
  border: thin solid;
  margin-bottom: 1rem;
}

.location a {
  text-decoration: none;
}

.location img {
  border-radius: 50%;
}

.location__body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.location__body p {
  text-align: center;
  margin-bottom: 0;
  font-size: 12px;
}

.location__header {
  align-items: center;
}

.location__header h6 {
  font-weight: bold;
}

#price {
  color: $green;
}