.location {
    border-style: solid;
    border-width: thin;
    display: flex;
    margin: 1rem;
    background-color: white;
    flex-wrap: wrap;
}

.location__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  width: 100%;
}

.location__header > img {
  flex: 3
}


.location__header > h3 {
  flex: 7;
  color: red;
  justify-content: center;
}


.location__description {
  flex: 1;
}
