html, body, #app {
    height: 100%;
    margin: 0;
    font-family: sans-serif;
}

#main-frame {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#map-frame {
  display: flex;
  flex: 2;
  flex-direction: row;
}

#esri-map {
  flex: 2;
  order: 2;
}

#side-panel {
  flex: 1;
  order: 1;
}