html, body, #app {
    height: 100%;
    margin: 0;
    font-family: sans-serif;
}

.container {
  height: 94%;
  position: fixed;
  display: flex;
  flex-direction: row;
  flex: 10;
  width: 100%;
  justify-content: flex-start;
  padding: 0;
}

#frame {
  display: flex;
  flex-direction: row;
  height: 94vh;
}

#esri-map {
  flex: 2;
  order: 2;
}



#side-panel {
  flex: 1;
  order: 1;
}