// colors
$dark-blue: #464b5e;
$gold: gold;
$green: rgb(0, 211, 0);
$light-blue: rgb(202, 232, 241);
$red: red;
$white: white;
$off-white: #dbe7ea;

// spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;